<h2>Edit User</h2>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password_digest %>
  <%= f.text_field :password_digest %>
  <br>
  <%= f.submit "Edit User" %>
<% end %>
